$bg: #F1F1F1;
$fg: #54433A;
$bright_black: #A98A78;
$bright_blue: #465AA4;
$bright_cyan: #3D6568;
$bright_green: #3A684A;
$bright_magenta: #904180;
$bright_red: #BF0021;
$bright_white: #54433A;
$bright_yellow: #A06D00;
$dark_black: #F1F1F1;
$dark_blue: #E0E2E8;
$dark_cyan: #CDE8E7;
$dark_green: #D0E9D1;
$dark_magenta: #E8E0E8;
$dark_red: #F1DEDF;
$dark_white: #D9D3CE;
$dark_yellow: #CCA478;
$black: #E9E1DB;
$blue: #7892BD;
$cyan: #739797;
$green: #6E9B72;
$magenta: #BE79BB;
$red: #C77B8B;
$white: #7D6658;
$yellow: #BC5C00;


$color-4: rgba(134, 87, 112, 1);
$color-3: rgba(209, 185, 169, 1);
$color-2: #E0D4C4;
$color-1: rgba(248, 238, 228, 1);

body {
  background: $bg;
  font-family: 'Courier New', monospace, bold
}

.controller-box {
  margin-bottom: 10pt;
  display: flex;
  width: 400;
  flex-direction: column;
}

.line-widget {
  background: $dark_cyan;
}

.slide-widget {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  span {
    align-self: self-end;
    width: 5em;
  }

}

input[type="range"] {
   -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 15rem;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
   background-color: $dark_yellow;
   border-radius: 0;
   height: 100%;  
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
   appearance: none;
   margin-top: 0px;

   background-color: $fg;
   height: 1rem;
   width: 0.5rem;
}

.rack-module {
  width: 311px;
  font-family: 'Courier New', monospace, bold;
  color: $color-4;
  padding-top: 10px;
  user-select: none;
  position: absolute;
}

.spacer {
  height: 5px;
  background: $color-4;
}

.head-plate {
  height: 40px;
  background: $color-3;
  position:relative;
  cursor: move;

  .module-name {
    color: $color-4;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: -5px;
    left: 5px;
  }

  .module-id {
    color: $color-4;
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    right: 5px;
    top: 3px;
  }
}

.input-plate {
  height: 80px;
  background: $color-3;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.control-plate {
  background: $color-3;
}

.output-plate {
  height: 3lh;
  background: $color-3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .jack {
    height: 1.5lh;
  }
}

.jack {
  width: 75px;
  height: 50px;
  background: $color-2;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  font-size: 12px;

  div {
    min-width: 80%;
    max-width: 80%;
    min-height: 1lh;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .source-section {
    background: $color-1;
  }

  .destination-section {
  }
}
